apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-secrets
  namespace: oaas-observability
  labels:
    app.kubernetes.io/name: alertmanager
    app.kubernetes.io/part-of: oaas
type: Opaque
data:
  DISCORD_WEBHOOK_URL: __DISCORD_WEBHOOK_URL_B64__
